
.skills__container{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  gap: 35px;
  padding: 0 40px;
}

@media screen and (max-width: 700px){
  .skills__container {
    gap: 10px;
  }
}